.movie-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1010px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 974px) {
    .movie-list {
        display: block;
    }
    .empty-result {
    display: block;
    margin: 0 auto;
    width: 116px;
  }
}